@model dynamic

@{
    Layout = null;
}

<div class="container-fluid text-center">
    <h3>Info about us</h3>
    <div class="row">
        <div class="col-sm-4" ng-repeat="info in information">
            <div>
                <img src="" alt="Image" width="300" height="250" />
                <br/>
                <div>
                    <div ng-hide="info.edit">{{info.text}}</div>
                    <textarea class="about-edit" ng-model="info.text" ng-show="info.edit"></textarea>
                </div>
                <div>
                    <button ng-click="toggleEdit(info)">Change</button>
                </div>
            </div>
        </div>
    </div>
</div>