<div>
    <div>
        <div class="btn-group" uib-dropdown dropdown-append-to-body>
            <button id="btn-append-to-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
                Current album: {{selectedAlbum}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                <li ng-repeat="name in albumNames" role="menuitem"><a href="/Angular/Gallery/{{name}}">{{name}}</a></li>
            </ul>
        </div>
        <div ng-show="isAuthenticated()">
            <input class="form-control" type="text" ng-model="state.newAlbumName" />
            <button class="btn btn-primary" ng-click="createAlbum(state.newAlbumName)">Create album</button>
        </div>
    </div>
    <div ng-repeat="format in formats">
        <label>
            {{format}}
        </label><input type="checkbox" ng-model="state.formatsFilter[format]" />
    </div>
    <div class="container-fluid">
        <div ng-repeat="albumName in getAlbums(selectedAlbum)">
            <div class="landscape col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="image in albums[albumName].images | byformat:state.formatsFilter" index="$index">
                <div class="text-center" ng-bind="image.desc"></div>
                {{$index}}
                <span class="glyphicon glyphicon-trash" ng-click="deleteImage(image, albumName)"></span>
                <img class="thumbnail" style="height:250px; margin-bottom:0" id="{{$index}}" ng-src="{{image.image}}" />
                <div class="text-center thumbnail">
                    Posted at {{image.date}}
                </div>
            </div>
        </div>
    </div>
</div>