<div>
    <div>
        <div class="btn-group" uib-dropdown dropdown-append-to-body>
            <button id="btn-album-select" type="button" class="btn btn-primary" uib-dropdown-toggle>
                Current album: {{selectedAlbum}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-album-select">
                <li ng-repeat="name in albumNames" role="menuitem"><a href="/Angular/Gallery/{{name}}">{{name}}</a></li>
            </ul>
        </div>
        <div ng-show="isAuthenticated()">
            <input class="form-control" type="text" ng-model="state.newAlbumName" placeholder="New album name" />
            <button class="btn btn-primary" ng-click="createAlbum(state.newAlbumName)">Create album</button>
        </div>
    </div>
    <div ng-repeat="format in formats">
        <label>
            {{format}}
        </label><input type="checkbox" ng-model="state.formatsFilter[format]" />
    </div>
    <div class="centered">
        <div class="row">
            <sds-pagination current-page="currentPage" number-of-pages="numberOfPages"
                            get-data="getData" page-size="pageSize"
                            next-callback="newPageCallback"
                            previous-callback="newPageCallback"></sds-pagination>
            <div class="btn-group" uib-dropdown dropdown-append-to-body>
                <button id="btn-page-sizes" type="button" class="btn btn-primary" uib-dropdown-toggle>
                    Images on page: {{pageSize}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-page-sizes">
                    <li ng-repeat="size in pageSizes" role="menuitem"><a href="#" ng-click="setPageSize(size)">{{size}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <sds-image-preview ng-repeat="image in albums[selectedAlbum].images | byformat:state.formatsFilter |startFrom:currentPage*pageSize | limitTo:pageSize" index="$index"
                           image-id="selectedAlbum + $index" image-name="image.desc"
                           image-link="image.image" image-date="image.date"
                           on-image-click="toggleImage"
                           get-image-style="getCurrentStyle"
                           get-image-container-class="getCurrentClass">
            <span ng-show="showTrashIcon(albums[selectedAlbum].userId)"
                  class="glyphicon glyphicon-trash" ng-click="deleteImage(image, selectedAlbum)">
            </span>
        </sds-image-preview>
    </div>
    <div class="centered">
        <sds-pagination current-page="currentPage" number-of-pages="numberOfPages"
                        get-data="getData" page-size="pageSize"
                        next-callback="newPageCallback"
                        previous-callback="newPageCallback"></sds-pagination>
    </div>
</div>