body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.about-edit {
    width: 283px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 150px;
}

.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.affix + div {
    padding-top: 70px;
}

.animals-header {
    padding-top: 30px; 
    padding-bottom: 30px;
    background: #c6cbd0;
}

.no-margin {
    margin: 0;
}