<!DOCTYPE html>
<html ng-app="gallery">
<head>
    <base href="/"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal gallery</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-cookies.js"></script>
</head>
<body ng-controller="ApplicationController">
    <div ng-controller="LoginController">
        <header class="gallery-header">
            <h2 class="text-center no-margin" ng-show="isAuthenticated()">
                Welcome to the animals gallery, <span ng-bind="currentUser.login"></span>!
            </h2>
            <div ng-hide="isAuthenticated()">
                <form ng-controller="LoginController" name="loginForm" 
                      ng-init="submitFunc" ng-submit="submitFunc(credentials)" novalidate>
                    <label for="username">Username:</label>
                    <input type="text" id="username" ng-model="credentials.login">
                    <label for="password">Password:</label>
                    <input type="password" id="password" ng-model="credentials.password">
                    <button type="submit" ng-click="submitFunc = signIn">Login</button>
                    <button type="submit" ng-click="submitFunc = register">Register</button>
                </form>
            </div>
        </header>
        <div ng-controller="IndexController" id="nav" data-spy="affix" data-offset-top="{{height}}">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"
                                data-toggle="collapse" data-target="#menuNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/Angular/About">Animals gallery</a>
                    </div>
                    <div class="collapse navbar-collapse" id="menuNavbar">
                        <ul class="nav navbar-nav">
                            <li id="albumsDropdown" class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="/Angular/Gallery">Gallery</a>
                                <ul class="dropdown-menu">
                                    <li><a id="galleryLink" href="/Angular/Gallery">Images</a></li>
                                    <li ng-show="isAuthenticated()"><a id="addImageLink" href="/Angular/AddImage">Add image</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            @*<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>*@
                            <li ng-show="isAuthenticated()" ng-click="signOut()"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
@RenderBody()
<script src="~/Scripts/gallery/galleryModuleInit.js"></script>
<script src="~/Scripts/gallery/indexController.js"></script>
<script src="~/Scripts/gallery/imageService.js"></script>
<script src="~/Scripts/gallery/textPartsService.js"></script>
<script src="~/Scripts/gallery/accountServices.js"></script>
<script src="~/Scripts/gallery/imagePreviewDirective.js"></script>
<script src="~/Scripts/gallery/imagePreviewControlsDirective.js"></script>
<script src="~/Scripts/gallery/paginationDirective.js"></script>
<script src="~/Scripts/gallery/localStorage.js"></script>
<script src="~/Scripts/gallery/addImageController.js"></script>
<script src="~/Scripts/gallery/aboutController.js"></script>
<script src="~/Scripts/gallery/modalGallery.js"></script>
<script src="~/Scripts/gallery/galleryViewController.js"></script>
<script src="~/Scripts/gallery/galleryModuleConfigurator.js"></script>
<script src="~/Scripts/gallery/imageLoadDirective.js"></script>
</body>
</html>